:root {
    --svg-white: invert(100%) sepia(13%) saturate(7497%) hue-rotate(207deg) brightness(110%) contrast(114%);

    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.5rem, 1vw, 1rem);
}

body {
    margin: 0;
}

.main-grid {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

/* Sidebar content */
.sidebar {
    background-color: #1992d4;
    color: white;
    grid-row: 1 / -1;
    width: max(150px, 1fr);
    height: max(100vh, 100%);
    padding-left: 5px;
}

/* Set color of all svgs in sidebar */
.sidebar img {
    filter: var(--svg-white);
}

/* Dashboard content within sidebar */
.dashboard {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.dashboard img {
    height: auto;
    width: 2.5rem;
    margin: 5px;
}

.dashboard h1 {
    font-size: 2rem;
    margin: 5px;
}

.sidebar.content {
    height: fit-content;
    margin-bottom: 20px;
}

/* All content below the dashboard in the sidebar */
.sidebar.content ul li {
    display: flex;
}

.sidebar.content ul li img {
    margin: 5px;
}

.sidebar.content ul li p {
    font-size: 1.5rem;
    margin: 5px;
}

/* Header content */
.header {
    background-color: white;
    grid-column: 2 / span 1;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
}

/* Search bar content */
.header .search-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 5rem;
}

.header .search-bar input {
    background-color: #e2e8f0;
    border: none;
    height: 1.5rem;
    width: 100%;
    border-radius: 20px;
}

/* Profile content */
.header .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header .profile .profile-pic {
    height: auto;
    width: 4rem;
}

/* Greeting content */
.header .greeting {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 1rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.header .greeting .profile-pic {
    grid-row: 1 / -1;
    align-self: center;
    width: 6rem;
}

.header .greeting p {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;
    margin: 0;
}

.header .greeting .user {
    font-size: 2rem;
    align-self: flex-start;
}

.header .greeting h1 {
   margin: 0;
}

/* Buttons content */
.header .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .buttons button {
    background-color: #1992d4;
    color: white;
    border: none;
    border-radius: 30px;
    padding: .5rem 2rem;
    font-size: 1.5rem;
}

.main-content {
    background-color: #e2e8f0;
}

img {
    height: auto;
    width: 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}